---
layout: base 
---

Work-in-Progress

# Economics of cybersecurity

* Jiali Zhou, Seung Hyun Kim and Kai-Lung Hui, "The Lemons Problem in the Hacker Marketplace." In preparation for MIS Quarterly.
* Jiali Zhou and Jiexing Zheng, "Algorithm Manipulation: Consequences and Solutions." Work-in-progress accepted at ICIS 2022. In preparation for Management Science Special Issue
on the Human-Algorithm Connection.
* Qiuhong Wang and Jiali Zhou, "Internet Censorship and Cybercrime." Data analysis.

# IT and Financial market, privacy

* Jiali Zhou, "Social Media and Short-Term Stock Market Returns: Causal Evidence from Chinese Stock Market." Accepted at ICIS 2020. Manuscript in preparation.
* Jiali Zhou and Kai-Lung Hui, "Competition and Equilibrium Distribution of Privacy: Evidence from App Market." Presented at Informs Annual Meeting 2017. Model revising.

<div class="portfolio">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-item">
      <div>
        <h1 class="portfolio-title">{{ post.title }}</h1>
        <div class="portfolio-line"></div>

        <div class="portfolio-content"> 
          <span class="portfolio-icon">
              <i class="fa fa-sticky-note"></i><span class="portfolio-icon-text">[{{ post.type }}] {{ post.info }}</span>
          </span>
          </br>
          <span class="portfolio-icon">
              <i class="fa fa-calendar-alt"></i><span class="portfolio-icon-text">{{ post.date | date: "%B %d, %Y" }}</span>
          </span>
          </br>
          <span class="portfolio-icon">
              <i class="fa fa-cog"></i><span class="portfolio-icon-text">{{ post.tech }}</span>
          </span>
        </div>
      </div>
    </a>
    </br>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
